<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>OFF</level>
        </filter>
    </appender>

    <root level="TRACE">
        <appender-ref ref="Console" />
    </root>

    <logger name="org.eclipse.jetty.util.thread.QueuedThreadPool" level="ERROR"/>
</configuration>